<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Головна сторінка</title>
</head>
<body>
<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
<h1>Ласкаво просимо на головну сторінку!</h1>
<p>Це домашня сторінка вашого додатку.</p>
<p><a th:href="@{/profile}">Профіль</a></p>
<form th:action="@{/auth/logout}" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <button type="submit">Вийти</button>
</form>
</body>
</html>
