<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Головна сторінка</title>
</head>
<body>
<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
<h1>Головна сторінка</h1>
<h2>Список послуг</h2>
<table border="1">
    <thead>
    <tr>
        <th>Назва</th>
        <th>Ціна</th>
        <th>Дії</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="service : ${services}">
        <td th:text="${service.name}">Назва послуги</td>
        <td th:text="${service.price}">Ціна</td>
        <td>
            <a th:href="@{'/order/' + ${service.id}}">Замовити</a>
            <a sec:authorize="hasAuthority('MANAGER')" th:href="@{'/services/edit/' + ${service.id}}">Редагувати</a>
            <a sec:authorize="hasAuthority('MANAGER')" th:href="@{'/services/delete/' + ${service.id}}" onclick="return confirm('Ви впевнені?');">Видалити</a>
        </td>
    </tr>
    </tbody>
</table>
<div sec:authorize="hasAuthority('MANAGER')">
    <p><a th:href="@{/services/new}">Створити нову послугу</a></p>
</div>
<div sec:authorize="isAuthenticated()">
    <p><a sec:authorize="hasAnyAuthority('MANAGER', 'ADMIN')" th:href="@{/profile/all}">Акаунти</a></p>
    <p><a th:href="@{/profile}">Профіль</a></p>
    <form th:action="@{/auth/logout}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <button type="submit">Вийти</button>
    </form>
</div>

<div sec:authorize="!isAuthenticated()">
    <p>
        <a th:href="@{/auth/login}">Увійти</a> |
        <a th:href="@{/auth/register}">Зареєструватися</a>
    </p>
</div>
</body>
</html>
