<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Логін</title>
</head>
<body>
<h2>Вхід</h2>
<form action="/auth/perform_login" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <label>Пошта:</label>
    <input type="text" name="username" required />
    <br>
    <label>Пароль:</label>
    <input type="password" name="password" required />
    <br>
    <button type="submit">Увійти</button>
</form>
<p th:if="${param.error}" style="color: red;">Неправильний логін або пароль!</p>
<p th:if="${param.logout}" style="color: green;">Ви вийшли з системи.</p>

<p>
    <a th:href="@{/auth/register}">Зареєструватися</a>
</p>
<p>
    <a th:href="@{/auth/forgot-password}">Забули пароль?</a>
</p>
</body>
</html>
