<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Логін</title>
</head>
<body>
<h2>Вхід</h2>
<form action="/auth/perform_login" method="post">
    <label>Телефон:</label>
    <input type="text" name="username" required />
    <br>
    <label>Пароль:</label>
    <input type="password" name="password" required />
    <br>
    <button type="submit">Увійти</button>
</form>
<p th:if="${param.error}" style="color: red;">Неправильний логін або пароль!</p>
<p th:if="${param.logout}" style="color: green;">Ви вийшли з системи.</p>
</body>
</html>
